* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
}

.landing_page_logo {
    padding-top: 10%;
    padding-bottom: 5%;
    width: 50vw;
    margin: 0 auto;
}

.page_description{
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}
h1{
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.landing_page_buttons {
    display: grid;
    grid-template-rows: auto;
    height: 35vh;
    width: 60%;
    margin: 0 auto;
}

.establishment_buttons{
    display: grid;
    grid-template-rows: auto;
    height: 35vh;
    width: 60%;
    margin: 0 auto;
}

.button1:hover{
    cursor: pointer;
    background-color: rgb(255, 217, 0);
}
.button2:hover{
    cursor: pointer;
    background-color: rgb(255, 217, 0);
}
.button3:hover{
    cursor: pointer;
    background-color: rgb(255, 217, 0);
}

.button4:hover{
    cursor: pointer;
    background-color: rgb(255, 217, 0);
}
.button5:hover{
    cursor: pointer;
    background-color: rgb(255, 217, 0);
}
.backbutton:hover{
    cursor: pointer;
    background-color: rgb(255, 217, 0);
}

.button1 {
    margin-top: 5%;
}

.button2 {
    margin-top: 10%;
}

.button3 {
    margin-top: 10%;
}
.button4 {
    margin-top: 10%;
}

.button5 {
    margin-top: 10%;
}

.backbutton {
    margin-top: 10%;
    padding: 1%;
    margin-left: 5%;
}

.single_view_layout{
    max-width: 100%;
}

img{
     width: 200px;
     padding-top: 5%;
}

.venue_photo{
    display: grid;
    justify-content: center;
}

.info{
    padding-left: 10%;
    padding-top: 10%;
}

.beverage_list{
    padding-top: 10%;
    padding-left: 10%;
}

.rating{
    padding-left: 10%;
    padding-top: 10%;
}

.stars{
    padding-left: 10%;
   
    
}