html {
    background-color: black;
    font-family: 'Covered By Your Grace', cursive;
}
.page_description{
    color: white;
    font-size: 18pt;
    
}

header{
    color:rgb(255, 217, 0);

}
.button1 {
    border-radius: 15px;
    font-size: x-large;
    font-family: 'Covered By Your Grace', cursive;
}

.button2 {
    border-radius: 15px;
    font-size: x-large;
    font-family: 'Covered By Your Grace', cursive;
}

.button3 {
    border-radius: 15px;
    font-size: x-large;
    font-family: 'Covered By Your Grace', cursive;
}
.button4 {
    border-radius: 15px;
    font-size: x-large;
    font-family: 'Covered By Your Grace', cursive;
}

.button5 {
    border-radius: 15px;
    font-size: x-large;
    font-family: 'Covered By Your Grace', cursive;
}
.backbutton {
    border-radius: 15px;
    font-size: medium;
    font-family: 'Covered By Your Grace', cursive;
    background-color: black;
    color:white;
}